@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Space Mono', monospace;
  --green-main: #aaff64;
  --red-main: #ff6a3d;
}

.green-main {
  color: var(--green-main);
}

.red-main {
  color: var(--red-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: var(--font-primary), sans-serif;
}

.hidden {
  display: none;
}

.action-button {
  background-color: #20e528;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 100px;
}

.fightCardTitle {
  font-weight: bold;
  font-family: var(--font-card-header), sans-serif;
  display: flex;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  p {
    margin: 0.25rem;
  }
}

.cardHeaderTxt {
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--font-card-header), sans-serif;
}

.feed-item {
  background-color: #000000d4;
  color: white;
}

.bet-btn {
  background-color: var(--green-main);
  border-radius: 2rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  color: black;
  margin-top: 1rem;
  font-weight: 500;
}

.square-container {
  width: 100%;  /* Adjust as needed */
  aspect-ratio: 1 / 1; /* Ensures square */
  overflow: hidden;
}

.square-image {
  width: clamp(1rem, -0.875rem + 16.333vw, 10rem);
  height: clamp(1rem, -0.875rem + 16.333vw, 10rem);
  object-fit: cover;
  object-position: center; /* Default - can be omitted */
  border-radius: 50%;
}
